
<section class="login-block">
  <!-- Container-fluid starts -->
  <form class="md-float-material form-material">
    <div class="page-size card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Sign In</h3>
                </div>
            </div>
            <div class="form-group form-primary">
              <mat-form-field appearance="standard" class="col-md-12" >
                <mat-label>Email Address</mat-label>
                <input id="email" type="email" matInput title="email" placeholder="Email Address" [formControl]="email"  required  [(ngModel)]="Email" >
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')" >
                  Please enter a valid email address
                
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
               
               
              </mat-form-field>
            </div>
            <div class="form-group form-primary">
              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>Password</mat-label>
                <input id="password" matInput [formControl]="password" type="password" name="password" title="password" placeholder="Password" required [(ngModel)]="Pass">
                <mat-error *ngIf="password.hasError('required')">
                  password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row m-t-25 text-left">
                <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d- container">
                        <label>
                            <input type="checkbox" id="checkbox" (click)="RememberMe()" >
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">Remember me</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                  <button [disabled]="!email.valid || !password.valid "(click)="login()" type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>
  <!-- end of container-fluid -->
</section>
