<!-- <app-header></app-header> -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
            <p >{{this.home.aboutUs.header1}}</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="../../../assets/images/{{this.home.aboutUs.imagePath1}}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>{{this.home.aboutUs.header2}}</h3>
              <ul>
                <li>
                  <i class="bx bx-store-alt"></i>
                  <div>
                    <p >{{this.home.aboutUs.text1}}</p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-images"></i>
                  <div>
                    <p>{{this.home.aboutUs.text2}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
<!-- <app-footer></app-footer> -->