<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <p>
              <strong>Phone:</strong> {{this.home.contactInfo.phoneNumber}}<br>
              <strong>Email:</strong> {{this.home.contactInfo.email}}<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a   href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a   href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a   href="#contact">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a   href="#Testimonial">Tesmonial</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Keep in touch with us</p>
            <div class="social-links mt-3">
              <a href={{this.home.contactInfo.twitter}} class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href={{this.home.contactInfo.facebook}}  class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href={{this.home.contactInfo.instagram}} class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
