<app-sidebar></app-sidebar>
<div class="page-size">

  
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            
                <!-- Page-body start -->
                <div class="page-body">
                    
                    <div class="row page-size">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-purple">{{this.chart.countRequest[0].count}}</h4>
                                            <h6 class="text-muted m-b-0">All Request</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-bar-chart f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-purple">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-c-purple">{{this.chart.countUser[0].count}}</h4>
                                            <h6 class="text-muted m-b-0">All Users Registered</h6>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fa fa-bar-chart f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-green">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">% change</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="fa fa-line-chart text-white f-16"></i>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <app-chart-gender></app-chart-gender>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <app-chart-status></app-chart-status>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                            <app-chart-date></app-chart-date>
    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
