.back-colour {
    background-color: #f6f9fe;
    height:500px;
  }
  .padding{
    padding-top:10%;
  }
  
  .user-card-full {
    overflow: hidden;
  }
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
  }
  .btn-edit{
    margin-right:10px;
}

.mr-top{
  margin-top: 150px;

}