<app-header> </app-header>


  <section id="hero" class="d-flex align-items-center" style="   width: 100%;
  height: 800px;
  background: url('../../../assets/images/{{this.home.PagesInfo.imagePath1}}') top left;
  background-size: cover;
  position: relative;"> 
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>{{this.home.PagesInfo.text1}} <span>{{this.home.PagesInfo.text2}}</span></h1>
      <h2>{{this.home.PagesInfo.text3}}</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Learn more</a>
      </div>
    </div>
  </section><!-- End Hero -->


<app-about></app-about>
<app-contact></app-contact>
<app-testimonial></app-testimonial>

<app-footer> </app-footer>